<ion-header>
  <ion-toolbar color="secondary">
    <div class="row">
      <ion-select value="month" (ionChange)="changeMode($event)">
        <ion-select-option value="month">Mes</ion-select-option>
        <ion-select-option value="week">Semana</ion-select-option>
        <ion-select-option value="day">Dia</ion-select-option>
      </ion-select>
      <div>{{ viewTitle }}</div>
      <ion-buttons>
        <ion-button (click)="today()">Hoy</ion-button>
      </ion-buttons>
    </div>


  </ion-toolbar>
</ion-header>
<ion-content>
  <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [locale]="calendar.locale"
    [currentDate]="calendar.currentDate" (onEventSelected)="onEventSelected($event)"
    [monthviewEventDetailTemplate]="template" (onTitleChanged)="onViewTitleChanged($event)" startHour="6" endHour="23"
    step="30" startingDayWeek="1">
  </calendar>
</ion-content>

<ng-template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate"
  let-noEventsLabel="noEventsLabel">
  <ion-list>
    <ion-item *ngFor="let event of selectedDate.events">
      <ion-thumbnail slot="start">
        <img [src]="event.item.image">
      </ion-thumbnail>
      <ion-label>
        <h3>{{event.item.subtitle}}</h3>
        <p>{{event.item.title}}</p>
        <div class="badges">
          <ion-badge *ngFor="let badge of event.item.badges">
            {{badge}}
          </ion-badge>
        </div>
        <div>
          <ion-button [fill]="event.item.confirmacionEvento==1?'solid':'fill'" size="small"
            (click)="event.item.confirmacionEvento=1">Ire</ion-button>
          <ion-button [fill]="event.item.confirmacionEvento==2?'solid':'fill'" size="small"
            (click)="event.item.confirmacionEvento=2">No ire</ion-button>
          <ion-button [fill]="event.item.confirmacionEvento==3?'solid':'fill'" size="small"
            (click)="event.item.confirmacionEvento=3">Tal vez</ion-button>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ng-template>