<ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let item of contenido" [ngSwitch]="item.type">
    <div *ngSwitchCase="'noticia'">
      <ion-img *ngIf="item.image" [src]="item.image"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>
          <div>
            <div>{{item.subtitle}}</div>
            <div class="to-right">
              <ion-button size="small" fill="clear" (click)="shareOnFacebook(item)">
                <ion-icon name="logo-facebook"></ion-icon>
              </ion-button>
              <ion-button size="small" fill="clear" (click)="shareOnTwitter(item)">
                <ion-icon name="logo-twitter"></ion-icon>
              </ion-button>
              <ion-button size="small" fill="clear" (click)="shareOnInstagram(item)">
                <ion-icon name="logo-instagram"></ion-icon>
              </ion-button>
            </div>
          </div>
        </ion-card-subtitle>
        <ion-card-title>{{item.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="badges">
          <ion-badge *ngFor="let badge of item.badges">
            {{badge}}
          </ion-badge>
        </div>
        <p>{{item.content}}</p>
        <!-- <ion-button>
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
          Continuar leyendo
        </ion-button> -->
      </ion-card-content>
    </div>
    <div *ngSwitchCase="'evento'">
      <ion-item (click)=" onEventSelected(item) ">
        <ion-thumbnail slot="start">
          <img [src]="item.image">
        </ion-thumbnail>
        <ion-label>
          <h3>{{item.subtitle}}</h3>
          <p>{{item.title}}</p>   
          <div class="badges">
            <ion-badge *ngFor="let badge of item.badges">
              {{badge}}
            </ion-badge>
          </div>
          <div>
            <ion-button [fill]="item.confirmacionEvento==1?'solid':'fill'" size="small"
              (click)="item.confirmacionEvento=1" (click)="$event.stopPropagation();">Ire</ion-button>
            <ion-button [fill]="item.confirmacionEvento==2?'solid':'fill'" size="small"
              (click)="item.confirmacionEvento=2" (click)="$event.stopPropagation();">No ire</ion-button>
            <ion-button [fill]="item.confirmacionEvento==3?'solid':'fill'" size="small"
              (click)="item.confirmacionEvento=3" (click)="$event.stopPropagation();">Tal vez</ion-button>
          </div>
        </ion-label>
      </ion-item>
    </div>
  </ion-card>
</ion-content>
<!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="menu"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button (click)="toggleBusqueda()" class="filtro">
      <ion-icon name="funnel"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab> -->