<ion-split-pane>
  <ion-menu>
    <ion-header no-border>
      <ion-toolbar>
        <ion-list lines="none">
          <ion-item>
            <ion-avatar slot="start">
              <img [src]="user?.photoURL || spinner" style="width:120px">
            </ion-avatar>
            <ion-label item-left>
              <p>
                {{user?.displayName}}
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-toolbar>
    </ion-header>
    <ion-content style="--background: #F0F4F8">
      <ion-list no-padding>
        <ion-item>
          <ion-label item-right text-right>
            <ion-button shape="round" color="light" (click)="openUsersList()">+ Conversation</ion-button>
            <ion-button shape="round" color="light" (click)="loginWithGoogle()">
              <ion-icon name="logo-google"></ion-icon>
            </ion-button>
            <ion-button shape="round" color="light" (click)="logout()">
              <ion-icon name="log-out"></ion-icon>
            </ion-button>
          </ion-label>
        </ion-item>
        <div *ngIf="chat$">
          <ion-item *ngFor="let chat of chat$" (click)="showChat(chat)" class="listHover"
            [ngClass]="chat.lastUpdated>chat[user.uid].lastUpdated ? 'unread' : ''">
            <ion-avatar class="avatar" slot="start" style="position:relative">
              <div class="avatar">
                <img [src]="chat[chat.otherUid].photoURL">
              </div>
            </ion-avatar>
            <ion-label class="padding-left" item-left>
              <h3><span *ngIf="chat.presence | async as presence"
                  class="{{presence.status=='online'?'green':'gray'}}"></span>{{chat[chat.otherUid].displayName}}</h3>
              <p *ngIf="chat.messages.length">
                {{chat.messages[chat.messages.length-1].content}}
              </p>
              <p>{{chat.lastUpdated | chatTime}}</p>
            </ion-label>
          </ion-item>
        </div>

      </ion-list>

    </ion-content>
  </ion-menu>

  <ion-router-outlet main></ion-router-outlet>
</ion-split-pane>